
<br />
<h1>Rails Demos and Samples</h1>

<div style="margin: 0 auto; width: 100%;">
  <div style="text-align: center;">
    <!-- Facebook Badge START -->
    <a
      href="https://www.facebook.com/mhaseebkhan"
      target="_top"
      title="Haseeb Khan">
        <img src="https://badge.facebook.com/badge/897415045.738.1897180218.png" style="border: 0px; text-align: center;" />
    </a>
    <!-- Facebook Badge END -->
    <br />
    <br />

    <a target="_top" href="http://www.linkedin.com/in/mhaseebkhan" >
      <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Haseeb  Khan's profile on LinkedIn" />
    </a>

    <br />
    <br />

    For viewing related samples, please click on the link of your company below.

    <br />
    <br />

    <div id="fotovillas">
      <a href="/fotovillas">fotovillas</a>
    </div>

    <br />

    General Demos:

    <br />
    <br />

    <div id="general-demos">
      <a href="/recent/flickr">Recent Flickr Photos</a>
      <br />
      <a href="/recent/twitter">Recent Tweets</a>
    </div>

  </div>

</div>

