<h1>FotoVillas - Random Fact about the World</h1>

<div class="fact-container">
  <div class="background"></div>
  <div id="fact">
    <h2><%= @fact %></h2>
  </div>
  <input type="button" value="random" onclick="javascript:window.location.reload();" />
</div>