<h1>FotoVillas Random Facts</h1>

<div id="container">

  <div class="background"></div>

  <div id="fact">
    <h2><%= @fact %></h2>
  </div>

  <input type="button" value="random" onclick="javascript:window.location.reload();" style="text-align: center;" />

</div>

