<h1>FotoVillas Swap DOM Elements</h1>

<div id="dom-element-1">DOM Element # 1</div>
<div id="dom-element-2">DOM Element # 2</div>

<br />

<input type="button" value="Swap Elements" onclick="javascript:FotoVillas.swap('dom-element-1', 'dom-element-2');" />