// Place all the styles related to the FotoVillas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#dom-element-1 {
  background-color: gray;
  opacity: 0.7;
  width: 150px;
  text-align: center;
}

#dom-element-2 {
  background-color: #add8e6;
  opacity: 0.7;
  width: 150px;
  text-align: center;
}